# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.next/
.turbo/
out/
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# Editor / OS
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
.DS_Store
Thumbs.db
*.swp

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/
.nyc_output/

# Mobile / Expo (for later)
.expo/
.expo-shared/

# Database
*.sqlite
*.sqlite3
*.db

# Misc
.cache/
.parcel-cache/

.vercel
